<div class="jumbotron my-3">
  <div class="container">
    <h3 style="color: blue;">Login de Usuario</h3>
    <form action="/auth/login" method="post" class="form-group">
      <label for="nombre">Ingrese su nombre</label>
      <input type="text" class="form-control" name="nombre" id="nombre"/>
      <input type="submit" class="btn btn-success mt-2" value="enviar">
    </form>
  </div>
</div>